<div class="container">
  <!-- Header -->
  <div class="header__container">
    <img src="./../../assets/images/logo.svg" href="./">
  </div>
  <div class="header__items">
    <a class="header__item" href="/">home</a>
    <a class="header__item" href="/">shop</a>
    <a class="header__item" href="/">about</a>
    <a class="header__item" href="/">contact</a>
  </div>
</div>

<!-- Card -->
<div class="container__card__images">
  <img src="./../../assets/images/desktop-image-hero-1.jpg">
  <div class="card__container__text">
    <span class="card__text">Discover innovative ways to decorate</span>
    <span class="card__description">We provide unmatched quality, comfort, and style for property owners across the
      country. Our experts combine form and function in bringing your vision to life. Create a room in you own style
      with our collection and makke property a reflextion of you and what you love.</span>
    <div class="card__shop">
      <span class="card__shop__label">Shop Now</span>
      <img src="./../../assets/images/icon-arrow.svg">
    </div>
  </div>
</div>
