// Container


.container {
  display: grid;
  position: absolute;
  padding: 70px 0px 50px 65px;
  grid-auto-flow: column;
  gap: 60px;
  align-items: center;
}


// Header


.header__container {
  display: grid;
  align-items: center;
}

img {
  cursor: pointer;
}

.header__items {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}
.header__item {
  display: grid;
  text-decoration: none;
  color: white;
  font-size: 16px;
}


// Card


.container__card__images {
  z-index: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.card__container__text {
  display: flex;
  position: relative;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__text {
  display: grid;
  font-size: 45px;
  font-weight: bold;
  margin-top: -40px;
}

.card__description {
  display: grid;
  font-size: 15px;
  color: gray;
  justify-self: center;
  margin-top: 25px;
  line-height: 1.4;
}

.card__shop {
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.card__shop__label {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 600;
}

.card__container__switch {
  position: absolute;
  display: flex;
  justify-content: left;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.card__switch {
  background: black;
  position: relative;
  width: 85px;
  height: 78px;
  display: flex;
  justify-content: center;
}

.card__switch__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


// Card1


.container__card__images1 {
  z-index: -1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-self: center;
  align-items: center;
}

.card__image1__text {
  display: flex;
  flex-direction: column;
  margin: 0px 55px;
}

.card__image1__title {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card__image1__description {
  color: gray;
}


.container__text {
  display: flex;
  flex-direction: column;
  width: 57%;
  margin: auto;
}
