<!-- Container -->
<div class="container">
  <!-- Header -->
  <div class="header__container">
    <img src="./../../assets/images/logo.svg" href="./">
  </div>
  <div class="header__items">
    <a class="header__item" href="/">home</a>
    <a class="header__item" href="/">shop</a>
    <a class="header__item" href="/">about</a>
    <a class="header__item" href="/">contact</a>
  </div>
</div>

<!-- Card -->
<div class="container__card__images">
  <img src="./../../assets/images/desktop-image-hero-1.jpg">
  <div class="card__container__text">
    <div class="container__text">
    <span class="card__text">Discover innovative ways to decorate</span>
    <span class="card__description">We provide unmatched quality, comfort, and style for property owners across the
      country. Our experts combine form and function in bringing your vision to life. Create a room in you own style
      with our collection and makke property a reflextion of you and what you love.</span>
    <div class="card__shop">
      <span class="card__shop__label">Shop Now</span>
      <img src="./../../assets/images/icon-arrow.svg">
    </div>
    <!-- Switch -->
    <div class="card__container__switch">
      <div class="card__switch">
        <div class="card__switch__image">
          <img src="./../../assets/images/icon-angle-left.svg">
        </div>
      </div>
      <div class="card__switch">
        <div class="card__switch__image">
          <img src="./../../assets/images/icon-angle-right.svg">
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


<div class="container__card__images1">
  <img src="./../../assets/images/image-about-dark.jpg">
  <div class="card__image1__text">
    <span class="card__image1__title">About Our Furniture</span>
    <span class="card__image1__description">Our multifunctional collection blends design and function to suit your
      individual taste. Make each room
      unique, or pick a cohesive theme that best express your interests and thar inspires you. Find the furniture pieces
      you need, from traditional to contemporary styles or anything in between. product specialists are available to
      help you create your dream space.</span>
  </div>
  <img src="./../../assets/images/image-about-light.jpg">
</div>
