// Container


.container {
  display: grid;
  position: absolute;
  padding: 70px 0px 50px 65px;
  grid-auto-flow: column;
  gap: 60px;
  align-items: center;
}


// Header


.header__container {
  display: grid;
  align-items: center;
}

.header__items {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}

.header__item {
  display: grid;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.header__item:hover {
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0 auto;

  .header__image__container:hover {
    margin-top: -2px;
  }
}

.hamburger {
  display: none;
}

// Card


.container__card__images {
  z-index: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.card__container__text {
  display: flex;
  position: relative;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__text {
  display: grid;
  font-size: 40px;
  font-weight: bold;
  margin-top: -40px;
}

.card__description {
  display: grid;
  font-size: 15px;
  color: gray;
  justify-self: center;
  margin-top: 25px;
  line-height: 1.4;
}

.card__shop {
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.card__shop__label {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.card__shop__label:hover {
  color: hsl(0, 0%, 27%);
}

.card__container__switch {
  position: absolute;
  display: flex;
  justify-content: left;
  width: 100%;
  bottom: 0px;
  left: -1px;
}

.card__container__switch2 {
  display: none;
}

.card__switch {
  user-select: none;
  background: black;
  position: relative;
  width: 80px;
  height: 78px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-right: -1px;
}

.card__switch:hover {
  background:  hsl(0, 0%, 27%);
}

.card__switch__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


// Card1


.container__card__images1 {
  z-index: -1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-self: center;
  align-items: center;
}

.card__image1__text {
  display: flex;
  flex-direction: column;
  margin: 0px 55px;
}

.card__image1__title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card__image1__description {
  color: gray;
  font-size: 14px;
  margin-top: 5px;
  line-height: 1.4;
}


.container__text {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}


@media screen and (max-width: 1100px) {
  .header__items {
    display: none;
  }

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
  }

  .container__text {
    width: 80%;
    margin: 60px 20px;
  }

  .container__card__images {
    grid-template-rows: auto;
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: flex;
    justify-content: left;
    left: 0;
    position: absolute;
    margin-left: 30px;
  }

  .card__text {
    margin-top: 0px;
    font-size: 30px;
  }

  .container__card__images1 {
    grid-template-columns: none;
  }

  .card__container__text {
    position: inherit;
  }

  .card__images {
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: -1;
  }

  .card__container__switch {
    display: none;
  }


  // Switch
  .card__container__switch2 {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    bottom: 3px;
    left: -1px;
  }

  .card__image1__text {
    margin: 45px 34px;
  }

  .card__switch2 {
    user-select: none;
    background: black;
    position: relative;
    width: 60px;
    height: 58px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin-right: -1px;
  }

  .card__switch2:hover {
    background:  hsl(0, 0%, 27%);
  }

  .card__switch__image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
