/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Spartan', sans-serif;
  font-size: 62.5%;
  height: 100vh;
}

*,*::after,*::before{
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}
